@use "../utils/variables";

// Dropdown button (static style)
.search-options {
    position: absolute;
}

.dropdown-trigger {
    display: flex;
    align-items: center;
    width: 170px;
    height: 69px;
    padding-left: 22px;
    color: white;
    font-weight: bold;
    border-radius: variables.$common-radius;
    border: none;
    cursor: pointer;
}

.dropdown-arrow {
    position: absolute;
    right: 12px;
    top: 30px;
    pointer-events: none;
}

.dropdown-arrow_rotate {
    position: absolute;
    right: 12px;
    top: 30px;
    pointer-events: none;
    transform: rotate(180deg);
}

.ingredients,
.appliance,
.utensils {
    border-radius: variables.$common-radius;
    height: fit-content;
    position: relative;
    z-index: 1;
}

.ingredients__label,
.appliance__label,
.utensils__label {
    display: inline-block;
    cursor: pointer;
}

.ingredients {
    background: variables.$ingredient-color;
}
.appliance {
    background: variables.$appliance-color;
}
.utensils {
    background: variables.$utensils-color;
}

.ingredients__text-field,
.appliance__text-field,
.utensils__text-field,
.ingredients__list,
.appliance__list,
.utensils__list {
    display: none;
}

// Dropdown button (expanded style)
.ingredients__label_expanded,
.appliance__label_expanded,
.utensils__label_expanded {
    height: 69px;
    width: 100%;
}

.search-options input {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    margin-left: 19px;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
}

// Lists
// TODO: test CSS grid for better responsivity
.search-options ul {
    margin-left: 19px;
    // fixing height is causing responsive bugs
    // height: 150px;
    columns: 100px 3;
}

.search-options li:hover {
    cursor: pointer;
}

.ingredients__list li:hover {
    background-color: darken(variables.$ingredient-color, 10%);
}
.appliance__list li:hover {
    background-color: darken(variables.$appliance-color, 10%);
}
.utensils__list li:hover {
    background-color: darken(variables.$utensils-color, 10%);
}

// Helpers
.hide {
    display: none;
}

.show {
    display: block;
}