@use "../utils/variables";

.recipe {
    max-width: 380px;
    height: 364px;
    overflow: hidden;
}

.recipe__image-preview a {
    display: flex;
    overflow: hidden;
}

.recipe__image-preview img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    max-height: 178px;
    overflow: hidden;
    transition: 0.4s all ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

.recipe__description {
    position: relative;
    height: 186px;
    background: #E7E7E7;
    border-radius: 0 0 variables.$common-radius variables.$common-radius;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2rem;
        width: 100%;
        border-radius: 0 0 5px 5px;
        // TODO : improve linear-gradient
        background: linear-gradient(0deg, #e7e7e7 0%, #f1f1f186 50%, rgba(255,255,255,0) 100%);
        pointer-events: none;

    }
}

.recipe__main-info {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.recipe__name {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: unset;
}

.recipe__duration {
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    gap: 7px;
    &::before {
        content: "";
        display: block;
        background-image: url("../assets/icons/cooking-time.svg");
        background-size: 20px 20px;
        height: 20px;
        width: 20px;
    }
}

.recipe__secondary-info {
    padding: 0 18px 0 20px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    overflow: hidden;
}

.recipe__ingredients,
.recipe__steps {
    flex: 0 50%;
    font-size: 0.8rem;
    overflow: hidden;
}

.recipe__ingredient-name {
    font-weight: bold;
}